.categoriesContainer {
  padding: 1rem;
}

.sectionTitle {
  font-size: 1.5rem;
  font-weight: 600;
}

h3 {
  margin: 0;
}

.categoriesList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 1rem;
}

.categoryCard {
  background-color: var(--white-color);
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cardHeader {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 0.75rem 1rem;
  font-weight: 600;
  font-size: 1rem;
}

.cardBody {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  flex-grow: 1;

}

.cardBody p {
  margin: 0;
  flex-grow: 1;
  color:var(--primary-color);
}

.editBtn,
.deleteBtn,
.addBtn {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease, box-shadow 0.2s ease;
}

.editBtn {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.editBtn:hover {
  background-color: var(--blue-hover);
  transform: translateY(-2px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.deleteBtn {
  background-color: var(--rouge-color);
  color: var(--white-color);
}

.deleteBtn:hover {
  background-color: var(--rouge-hover);
  transform: translateY(-2px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.addBtn {
  margin: 1rem 0 1rem 0;
  background-color: var(--tertiary-color);
  color: #ffffff;
  align-self: flex-start;
}

.addBtn:hover {
  background-color: var(--tertiary-hover);
  transform: translateY(-2px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.categoriesSection {
  margin-bottom: 2rem;
  background-color: var(--white-color);
  border-radius: 8px;
  padding: 1rem;
}

.serviceTypesSection {
  margin-top: 2rem;
  background-color: var(--white-color);
  border-radius: 8px;
  padding: 1rem;
}