/* PaymentSummary.module.css */

.summary {
  background-color: var(--secondary-color);
  border-radius: 8px;
  overflow: visible;
  color: var(--text-color);
}

.dimmed {
  background-color: transparent;
}

.summary h2 {
  font-size: 1.75rem;
  margin: 0;
  padding: 1.5rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: 600;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.row.total {
  font-size: 1.1rem;
  font-weight: 600;
}

.payButton {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1rem;
  margin: 0;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.payButton:hover {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  color: var(--white-color);
}

/* Responsive */
@media (max-width: 768px) {
  .summary {
    padding: 1rem;
  }
  .row {
    font-size: 0.95rem;
  }
  .payButton {
    padding: 0.65rem;
    font-size: 0.95rem;
  }
}

.summaryFooter {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-top: 1px solid var(--border-color);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}