.container {
  width: 100%;
  display: flex;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.container > section {
  flex: 1;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .topSection {
    flex-direction: column;
  }
}
